@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;460;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    height: 1000vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

html, body {
    overflow: hidden;
   }

strong{
    color: #22D4FD;
}

.apresentacao {
    margin: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;

}

.apresentacao__conteudo__texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.apresentacao__links{
    display: flex;
    justify-content: space;

}

.apresentacao__links__link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    padding: 17px 0;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin-left: 10px;

}

.minha_foto {
    border-radius: 7px;
    
}

.apresentacao__foto {
    position: relative;
    display: inline-block;
}

.apresentacao__foto p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}